* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#form-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

button {
  min-width: 80px;
  border: 1px solid #c2c2c2;
  background-color: transparent;
  border-radius: 8px;
  padding: 12px;
}

#btn-submit {
  background-color: rgb(37, 45, 118);
  color: #fafafa;
  &:hover {
    background-color: rgb(46, 65, 232);
    border: 1px solid #c2c2c2;
  }
}

#btn-reset {
  border: 1px solid red;
  color: red;
  &:hover {
    background-color: rgb(255, 37, 37);
    color: #fafafa;
  }
}
